<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Vanado</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="Failures" class="nav-link">Failures</a>
      </li>
      <li class="nav-item">
        <a routerLink="addFailure" class="nav-link">Add Failure</a>
      </li>
      <li class="nav-item">
        <a routerLink="Machines" class="nav-link">Machines</a>
      </li>
      <li class="nav-item">
        <a routerLink="addMachine" class="nav-link">Add Machine</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>