<mat-card>
        <table class="table table-hover text-dark" >  
            <tr>  
              <th class="tbl2">#</th>  
              <th class="tbl2">Name</th>  
              <th class="tbl2">Description</th>  
              <th class="tbl2">DateTime</th>  
              <th class="tbl2">MachineId</th>  
              <th class="tbl2">Status</th>  
              <th class="tbl2">Documentation</th>  
              <th class="tbl2">Priority</th> 
              <th class="tbl2">Edit</th>
              <th class="tbl2">Delete</th>
              <th class="tbl2">Status Change</th>
            </tr>  
            <tr *ngFor="let fail of allFailures | async | sortBy:'desc':'failure_priority'"> 
              <td class="tbl2">{{fail.failure_id}}</td>  
              <td class="tbl2">{{fail.failure_name }}</td>  
              <td class="tbl2">{{fail.failure_description}}</td> 
              <td class="tbl2">{{fail.failure_datetime | date: 'medium'}}</td> 
              <td class="tbl2">{{fail.failure_machineid}}</td>
              <td class="tbl2">{{fail.failure_status ==0? 'U kvaru' : 'Popravljeno'}}</td>  
              <td class="tbl2">{{fail.failure_documentation}}</td>  
              <td class="tbl2">{{fail.failure_priority}}</td>
              <td class="tbl2">  
                <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="getFailure(fail.failure_id)">Edit</button>  
              </td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteFailure(fail.failure_id)">Delete</button>  
              </td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-success"matTooltip="Click Status Change Button"(click)="updateFailure(fail.failure_id)">Change</button>  
              </td>
            </tr> 
          </table>  
  </mat-card>
